/* Estilos customizados para a aparência */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}
.modal-backdrop, .login-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    overflow-y: auto;
    padding: 1rem;
}
.modal-content, .login-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.large-modal-content {
    max-width: 800px;
}
.btn {
    @apply text-white font-bold py-2 px-4 rounded-lg shadow-md transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-opacity-50;
}
.btn-primary { @apply bg-blue-500 hover:bg-blue-600 focus:ring-blue-400; }
.btn-green { @apply bg-green-500 hover:bg-green-600 focus:ring-green-400; }
.btn-yellow { @apply bg-yellow-500 hover:bg-yellow-600 focus:ring-yellow-400; }
.btn-red { @apply bg-red-500 hover:bg-red-600 focus:ring-red-400; }
.btn-gray { @apply bg-gray-200 hover:bg-gray-300 text-gray-800 focus:ring-gray-400; }
.btn-purple { @apply bg-purple-500 hover:bg-purple-600 focus:ring-purple-400; }

/* Ocultar elementos por padrão */
.hidden { display: none; }
